# Python
__pycache__/
*.pyc
.venv/
venv/

# VCS / CI / local
.git/
.github/
.idea/
.vscode/
*.log

# Data & runs (these are not needed inside runtime image)
data/
mlruns/
mlflow.db
logs/

# Tests & notebooks
tests/
notebooks/

# DVC internals (we bake model artifact separately)
.dvc/
*.dvc
dvc.lock
