# Python caches & venvs
__pycache__/
*.pyc
.venv/
venv/

# VCS / IDE / local junk
.git/
.github/
.vscode/
.idea/
.DS_Store
*.log

# Not needed at runtime
data/
mlruns/
mlflow.db
logs/
tests/
notebooks/

# DVC internals (we bake the trained model separately)
.dvc/
*.dvc
dvc.lock

# IMPORTANT: we do NOT ignore artifacts/model because the image needs it
# If you ever ignore artifacts/*, make sure to unignore the model path:
# artifacts/*
# !artifacts/model/
# !artifacts/model/model.joblib
